{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amashop</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</head>

<body>
<div id="header">
   <div id="customer">
        {% if user.username %}
            <a href="{% url "mybaskets:customer_detail" user.id %}">Welcome to Amashop, {{ user.username }}</a>
        {% endif %}
   </div>
    <h1><a href="/mybaskets">Amashop</a></h1>
    {% block menu %}
        <div id="menu">
            <ul>
                <li><a href="/mybaskets">Home</a></li>
                <li><a href="/mybaskets/baskets">Basket</a></li>
                <li><a href="/mybaskets/categories">Categories</a></li>
                <li><a href="/mybaskets/subcategories">Subcategories</a></li>
                <li><a href="/mybaskets/products">Products</a></li>
            </ul>
        </div>
    {% endblock %}
    <div id="login">
            
                {% if user.username %}
                <a href="/logout">Log out</a>
                    {% if user.username == "admin" %}
                        <li><a href="/admin">Admin.</a></li>
                    {% endif %}
                {% else %}
                    <a title="Login" href="/login">Your acount.</a>
                {% endif %}
            
    </div>
    {% block header %}
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}{% endblock %}
</div>
</body>
</html>
